name: CI

on:
  pull_request:

jobs:
  lint_and_test:
    runs-on: ubuntu-latest

    steps:
      - name: Set up Rust toolchain
        uses: hecrj/setup-rust-action@v2
        with:
          rust-version: stable
      
      - name: Check out the code
        uses: actions/checkout@v4

      - name: Install Clippy
        run: rustup component add clippy

      - name: Run Clippy
        run: cargo clippy --all-targets --all-features -- -D warnings

      - name: Install cargo-nextest
        run: cargo install cargo-nextest --locked

      - name: Run tests with retries
        env:
          RUST_MIN_STACK: 8388608
        run: cargo nextest run --test-threads=1 --retries=3 --test-timeout=600s
